<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}l'Envie aix en provence la carte!{% endblock %}</title>
    {% block stylesheets %}

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" />
    {% endblock %}


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <style>
        .menu-area img{
            padding: 1rem;
            border-radius: 0.4rem;
        }
        h2{
            padding-bottom: 2rem;
            padding-top: 2rem;
        }
        .menu-title{
            padding-top: 2rem;
            text-align: center;
        }

        .menu-spec{
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            margin-top: 2rem;
            margin-bottom: 2rem;
            background-color: rgba(221,221,221,0.3);
        }
    </style>

</head>
<body>

{% block content %}
    {% include "navbar.html.twig" %}
    {% include "header.html.twig" %}

    <div class="menu-area">
    <div class="container" >
        <div class="menu-title">
            <h1>Notre Carte</h1>
        </div>

        <div class="menu-spec">
            <div class="col-lg-7">
        <h2> Les Entrées</h2>
        {% for entree in entrees  %}
            <ul>
                <li>
                    <h5>{{ entree.title |capitalize }} .............. <span>{{ entree.price }} €</span></h5>
                    <p>{{ entree.description |capitalize }}</p>
                </li>
            </ul>
            <hr>

        {% endfor %}
        </div>
            <div class="col-lg-5">
                <img src="{{ asset('image/salad.jpg') }}" alt="">
            </div>
        </div>

        <div class="menu-spec">
            <div class="col-lg-7">
                <h2>Les Plats</h2>
                {% for plat  in plats  %}
                    <ul>
                        <li>
                            <h5>{{ plat.title |capitalize }} .............. <span>{{ plat.price }} €</span></h5>
                            <p>{{ plat.description |capitalize }}</p>
                        </li>
                    </ul>
                    <hr>
                {% endfor %}
            </div>
            <div class="col-lg-5">
                <img src="{{ asset('image/plat.jpg') }}" alt="">
            </div>
        </div>

        <div class="menu-spec">
            <div class="col-lg-7">
                <h2>Les Désserts</h2>
                {% for dessert  in desserts %}
                    <ul>
                        <li>
                            <h5>{{ dessert.title |capitalize }} .............. <span>{{ dessert.price }} €</span></h5>
                            <p>{{ dessert.description |capitalize}}</p>
                        </li>
                    </ul>
                    <hr>
                {% endfor %}
            </div>
            <div class="col-lg-5">
                <img src="{{ asset('image/tira.jpg') }}" alt="">
            </div>
        </div>

        <div class="menu-spec">
            <div class="col-lg-7">
                <h2>Les Vins</h2>
                {% for vin  in vins %}
                    <ul>
                        <li>
                            <h5>{{ vin.titre|capitalize }} .............. <span>{{ vin.price }} €</span></h5>
                            <p>{{ vin.description |capitalize}}</p>
                        </li>
                    </ul>
                    <hr>
                {% endfor %}
            </div>
            <div class="col-lg-5">
                <img src="{{ asset('image/wine.jpg') }}" alt="">
            </div>
        </div>
    </div>
    </div>

    {% include "footer.html.twig" %}
{% endblock %}

</body>

{% block javascripts %}{% endblock %}


</html>
